<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Postcard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Editar Postcard</h1>
  <form action="/edit/<%= postcard.id %>" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" value="<%= postcard.name %>" required>
    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" name="cidade" value="<%= postcard.cidade %>" required>
    <label for="pais">País:</label>
    <input type="text" id="pais" name="pais" value="<%= postcard.pais %>" required>
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" required><%= postcard.descricao %></textarea>
    <label for="imageUrl">URL da Imagem:</label>
    <input type="text" id="imageUrl" name="imageUrl" value="<%= postcard.imageUrl %>" required>
    <button type="submit">Salvar</button>
  </form>
  <a href="/">Voltar para a lista de Postcards</a>
</body>
</html>
